@mixin myContainer {
    max-width: $containerMaxWidth;
    width: 100%;
    height: 1200px;
    margin: 0 auto;
  }
  
  @mixin MyContainer2 {
    max-width: $containerMaxWidth2;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  
  @mixin MyContainer3 {
    max-width: $containerMaxWidth2;
    width: 100%;
    height: 1100px;
    margin: 0 auto;
  }
  
  @mixin MyContainer4 {
    max-width: $containerMaxWidth2;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  
  @mixin myContainernew {
    max-width: $containerMaxWidth;
    width: 100%;
    height: 1200px;
    margin: 0 auto;
  }
  
  @mixin MyContainerall {
    max-width: $containerMaxWidth2;
    width: 100%;
    height: 1200px;
    margin: 0 auto;
  }
  
  @mixin MyContainerbuy {
    max-width: $containerMaxWidth2;
    width: 100%;
    height: 700px;
    margin: 0 auto;
  }