// colors

$color-1: white;
$color-2: #f5f5f5;

$body-color: rgb(245, 245, 245);
$main-color: rgb(72, 72, 72);
$second-color: black;
$third-color: #243043;
$forth-color: #818687;
$fifth-color: #8a8787;
$i-color: rgb(100, 99, 99);
$hover-color: rgb(60, 60, 60);

// colors

// width

$containerMaxWidth: 1400px;
$containerMaxWidth2: 1800px;
// width