html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: rgb(245, 245, 245);
  box-shadow: rgb(0, 0, 0) 0px 0px 15px -5px;
  z-index: 4;
  height: 70px;
}

.nav-bar {
  display: flex;
}

.nav-bar i {
  margin-top: -35px;
}

.menu {
  display: flex;
  margin-left: 225px;
}

.menu li {
  padding-left: 25px;
  align-items: center;
  list-style: none;
  position: relative;
  vertical-align: middle;
  margin-top: -35px;
}

.menu li a {
  font-size: 16px;
  color: rgb(72, 72, 72);
  font-weight: 700;
  text-decoration: none !important;
}

i:hover {
  color: rgb(100, 99, 99);
  transition: all 0.1s ease-in-out;
  pointer-events: auto;
}

.menu li a::after {
  content: "";
  position: absolute;
  background-color: rgb(60, 60, 60);
  height: 2px;
  width: 0;
  left: 0;
  bottom: 20px;
  margin-left: 15px;
  transition: all 0.3s;
  pointer-events: none;
}

.menu li a:hover::after {
  width: 100%;
}

.menu li a:hover {
  color: rgb(100, 99, 99);
  transition: all 0.3s;
}

.TBC {
  width: 160px;
  margin-top: 10px;
}

.open-menu,
.close-menu {
  position: absolute;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  margin-top: 10px;
  top: 50%;
  margin-left: -240px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  margin-left: -476px;
}

#check {
  margin-left: -50px;
}

.fa-cart-shopping {
  margin-top: -78px;
  margin-left: 300px;
  color: rgb(72, 72, 72);
  font-size: 25px;
}

.fa-location-dot {
  color: rgb(72, 72, 72);
  font-size: 25px;
  margin-top: -78px;
  margin-left: 10px;
}

.fa-user {
  color: rgb(72, 72, 72);
  font-size: 25px;
  margin-top: -78px;
  margin-left: 10px;
}

section .carousel {
  margin-top: 100px;
}

section {
  background-color: white;
  margin-left: 63px;
}

.sec {
  background: #f5f5f5;
  margin-right: 40px;
  margin-top: 40px;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: "Arial GEO Bold", sans-serif;
  color: rgb(33, 37, 41);
  padding-top: 50px;
  text-align: center;
  font-size: 2.7rem;
  margin-right: 100px;
  font-family: "Arial GEO Bold", sans-serif;
}

.img-container img {
  width: 380px;
  height: 300px;
  margin-top: 50px;
  margin-left: 30px;
}

.box-container {
  display: flex;
}

.box {
  background-color: white;
  width: 380px;
  height: 120px;
  margin-left: 32px;
}

.line {
  width: 315px;
  height: 2px;
  background-color: #d3d3d3;
  margin-left: 30px;
  margin-top: 35px;
  display: inline-block;
}

.box p {
  height: 1px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
  width: 100px;
  color: black;
}

.box h3 {
  font-size: 20px;
  color: black;
  height: 1px;
  margin-left: 40px;
  padding-top: 30px;
  font-family: "BPG Mikheil Stefane", sans-serif;
}

.fa-circle-plus {
  color: rgb(72, 72, 72);
  height: 1px;
  margin-left: 350px;
  font-size: 24px;
  width: 100px;
  margin-top: -200px;
  display: flex;
}

.img-container2 img {
  width: 380px;
  height: 300px;
  margin-top: 50px;
  margin-left: 30px;
}

.cube {
  margin-left: 560px;
  margin-top: 60px;
  padding-left: 4px;
  padding-top: 5px;
  border: 3px groove rgb(72, 72, 72);
  background-color: lightgray;
  width: 150px;
  height: 40px;
  color: rgb(72, 72, 72);
}

.cube h2 {
  width: 200px;
  font-size: 12px;
  color: black;
  margin-top: -45px;
  margin-left: -35px;
}

.cube:hover {
  transition: all 0.2s linear;
  background-color: rgb(72, 72, 72);
}

.image-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 20px;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  display: block;
}

.photo:nth-child(8) {
  margin-top: -60px;
}

.photo:nth-child(5) {
  margin-top: 5px;
}

.photo:nth-child(2) {
  margin-top: 30px;
}

.photo:nth-child(6) {
  margin-top: 40px;
}

footer {
  max-width: 1800px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: rgb(245, 245, 245);
  box-shadow: rgb(0, 0, 0) 0px 0px 15px -5px;
  margin-right: 40px;
  margin-left: 62px;
}

.foot {
  display: flex;
  flex-direction: column;
}

.foot h1 {
  width: 200px;
  margin-left: 35px;
  font-size: 20px;
  color: #6c6c74;
}

.foot img {
  width: 100px;
  margin-left: 50px;
  margin-top: 15px;
}

.foot h4 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 65px;
  margin-top: 15px;
  color: black;
}

.foot h4:hover {
  transition: 0.1s;
  color: rgb(100, 99, 99);
}

.foot .fa-phone {
  width: 200px;
  font-size: 16px;
  padding-top: 15px;
  margin-left: 65px;
  color: #000000;
}

.lenght {
  margin-top: -14px;
  margin-left: 30px;
  font-weight: 700;
}

.foot .fa-location-dot {
  width: 350px;
  font-size: 16px;
  margin-top: -18px;
  margin-left: 250px;
  color: black;
}

.foot2 {
  display: flex;
  flex-direction: column;
  margin-left: 700px;
  margin-top: -300px;
}

.lines {
  width: 180px;
  height: 1px;
  background-color: black;
}

.foot2 h1 {
  padding-bottom: 10px;
  font-size: 20px;
}

.foot2 h4 {
  width: 200px;
  margin-top: 10px;
  font-size: 20px;
  color: black;
}

.foot2 h4:hover {
  transition: all 0.1s;
  color: rgb(100, 99, 99);
}

.foot3 {
  display: flex;
  flex-direction: column;
  margin-left: 1100px;
  margin-top: -31px;
}

.foot3 h1 {
  padding-bottom: 10px;
  font-size: 20px;
}

.foot3 h4 {
  margin-top: 10px;
  width: 200px;
  padding-top: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.fonts {
  margin-left: 1400px;
  margin-top: -40px;
  font-size: 28px;
}

.fonts i {
  margin-left: 5px;
  color: rgb(72, 72, 72);
}

.fonts i:hover {
  color: rgb(100, 99, 99);
  transition: all 0.1s ease-in-out;
  pointer-events: auto;
  height: 10px;
}

.foot3 h4:hover {
  transition: all 0.1s;
  color: rgb(100, 99, 99);
}

input[type=Email] {
  padding-left: 20px;
  margin-top: 200px;
  margin-left: 900px;
  width: 340px;
  height: 40px;
  border: 1px black;
  border-style: solid;
  border-radius: 12px;
  font-size: 14px;
  color: black;
  vertical-align: middle;
}

button[type=submit] {
  padding-bottom: 10px;
  background-color: rgb(72, 72, 72);
  border: none;
  color: white;
  padding: 5px 32px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 15px;
  height: 40px;
  vertical-align: middle;
  margin-top: 200px;
}

button[type=submit]:hover {
  background-color: rgb(100, 99, 99);
  transition: all 0.2s;
}

form {
  height: 20px;
}

.sec2 {
  background: #f5f5f5;
  margin-right: 40px;
  margin-top: 800px;
}

.container3 {
  max-width: 1800px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.container3 img {
  display: block;
  width: 1800px;
  height: auto;
}

.container3 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 56px;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: -10px;
  font-family: "Arial GEO Bold", sans-serif;
}

.container4 {
  max-width: 1800px;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: 200px;
}

.order-container .item {
  position: relative;
  width: 260px;
  height: 220px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

.order-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s ease;
  filter: brightness(0.5);
}

.order-container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Arial GEO Bold", sans-serif;
}

.item:hover img {
  transform: scale(1.2);
  filter: brightness(0.7);
}

.order-container .item:nth-child(7) h4,
.order-container .item:nth-child(11) h4 {
  width: 300px;
  padding-left: 65px;
}

.order-container .item:nth-child(11) span h4 {
  padding-top: 45px;
  padding-left: 100px;
}

.order-container .item:nth-child(6) span h4 {
  padding-top: 45px;
}

.container5 {
  max-width: 1800px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  height: 1400px;
  margin-top: 100px;
}

.map iframe {
  width: 550px;
  height: 550px;
  margin-left: 20px;
  margin-top: 30px;
}

.contactinput {
  width: 40%;
  margin-top: -550px;
  margin-left: 650px;
  padding: 100px;
  height: 580px;
  background-color: white;
}

.contactinput h3 {
  width: 200px;
  font-size: 30px;
  color: #333;
  font-weight: 500;
  width: 500px;
}

.contactinput .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactinput .inputbox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactinput .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactinput .inputbox input:focus ~ span,
.contactinput .inputbox input:valid ~ span,
.contactinput .inputbox textarea:focus ~ span,
.contactinput .inputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactinput .inputbox input[type=submit] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactinput .inputbox input[type=submit] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  filter: brightness(0.9);
  transition: 0.3s ease;
}

.contactinput .inputbox input[type=submit]:hover {
  background: #00bcd4;
  filter: brightness(1);
  box-shadow: rgb(0, 0, 0) 0px 0px 7px -5px;
}

.circle {
  margin-top: 30px;
  margin-left: 300px;
  background-color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle i {
  color: black;
  font-size: 20px;
}

.circle .fa-location-dot {
  font-size: 16px;
  margin-left: -2px;
  margin-top: 2px;
  font-size: 20px;
}

.contacttext {
  margin-top: -330px;
  margin-left: 1500px;
  height: 800px;
}

.contacttext h4 {
  margin-top: 65px;
  font-size: 22px;
  height: 20px;
  color: #cd853f;
}

.contacttext p {
  font-size: 18px;
  margin-top: 10px;
  height: 20px;
  font-weight: 300;
}

.contactfont {
  margin-top: -1200px;
  margin-left: 1100px;
}

.nTBC {
  width: 100px;
  margin-top: -15px;
}

.back-bar {
  display: flex;
}

.back-bar i {
  margin-top: -65px;
}

.fa-arrow-left {
  margin-left: 150px;
  font-size: 36px;
  color: rgb(72, 72, 72);
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
}

.containernew {
  margin-top: -15px;
  margin-left: -65px;
}

.start {
  position: relative;
}

.containernew img {
  width: 1922px;
  height: 800px;
  filter: brightness(0.7);
  transition: 1s;
}

.start h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  transform: translate(-50%, -50%);
  color: white;
  filter: brightness(0.8);
}

.containernew img:hover {
  filter: brightness(0.9);
}

.container6 {
  max-width: 1800px;
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  display: flex;
}

.infos {
  display: flex;
  margin-left: 315px;
  margin-top: 150px;
}

.info {
  background: #f5f5f5;
  width: 300px;
  height: 300px;
  margin-left: 70px;
}

.containerall {
  max-width: 1800px;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.containerall h6 {
  margin-left: 760px;
  padding-top: 80px;
  font-size: 28px;
  color: #212529;
  font-family: "Arial GEO Bold", sans-serif;
}

.containerall .img-container {
  margin-left: 420px;
}

.containerall .box-container {
  margin-left: 420px;
}

.containerall .box-container {
  margin-top: -15px;
}

.category {
  display: none;
}

.category.active {
  display: block;
}

.scrollable-tabs-container {
  font-family: "Arial GEO Bold", sans-serif;
  max-width: 1250px;
  margin: 16px auto;
  margin-left: 250px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg {
  width: 45px;
  height: 45px;
  padding: 8px;
  cursor: pointer;
  color: rgb(60, 60, 60);
  border-radius: 50%;
}

.scrollable-tabs-container ul {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
}

.scrollable-tabs-container a {
  color: #000000;
  padding: 12px 24px;
  font-family: "Arial GEO Bold", sans-serif;
  background: white;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px -5px;
  display: inline-block;
  border-radius: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container a:hover {
  background: #313131;
  color: #fff;
  transition: 0.2s;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: -15px;
  background: linear-gradient(to left, #f5f5f5 50%, transparent);
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
  background: linear-gradient(to left, #f5f5f5 50%, transparent);
}

.scrollable-tabs-container svg:hover {
  background-color: #f5f5f5;
}

.background-c {
  background: #f5f5f5;
  height: 400px;
  width: 600px;
  margin-left: 200px;
  margin-top: 150px;
  border-radius: 20%;
}

.background-c img {
  margin-left: -20px;
  margin-top: 25px;
}

.texts {
  display: flex;
  flex-direction: column;
}

.texts h2 {
  margin-left: 350px;
  margin-top: -450px;
  font-family: "Arial GEO Bold", sans-serif;
}

.texts p {
  width: 200px;
  margin-top: 50px;
  margin-left: 925px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  font-family: "Arial GEO Bold", sans-serif;
}

.containerbuy {
  max-width: 1800px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.texts h3:first-child {
  margin-top: 150px;
}

.texts h3 {
  margin-left: 850px;
}

.texts h3 {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 21px;
  font-family: "Arial GEO Bold", sans-serif;
  text-align: center;
}

.texts span {
  margin-left: 450px;
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}

.spans {
  margin-top: -210px;
}

.texts h4 {
  margin-left: 1000px;
  font-size: 24px;
}

.containerall input[type=text]#search {
  margin-left: 400px;
  margin-top: -30px;
}

#search {
  padding: 8px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search::-moz-placeholder {
  color: #999;
}

#search::placeholder {
  color: #999;
}

#search:focus {
  border-color: #007bff;
}

.containerall button[type=submit] {
  padding-bottom: 10px;
  background-color: rgb(72, 72, 72);
  border: none;
  color: white;
  padding: 5px 32px;
  border-radius: 12px;
  cursor: pointer;
  height: 40px;
  vertical-align: middle;
  margin-top: -5px;
}

.texts h5 {
  display: flex;
  flex-direction: row;
  margin-left: 1300px;
  width: 100px;
  margin-top: -60px;
  font-size: 24px;
  font-family: "Arial GEO Bold", sans-serif;
}

#quantityForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  margin-left: 1250px;
  margin-top: 10px;
}

#quantity {
  padding: 8px;
  margin-bottom: 10px;
}

#unlimited {
  margin-left: 5px;
}

.texts button {
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: -1px;
}/*# sourceMappingURL=global.css.map */